<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Patient $patient
 */
?>
<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Patient
      <small><?php echo __('Edit'); ?></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<?php echo $this->Url->build(['action' => 'index']); ?>"><i class="fa fa-dashboard"></i> <?php echo __('Home'); ?></a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><?php echo __('Form'); ?></h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <?php echo $this->Form->create($patient, ['role' => 'form']); ?>
            <div class="box-body">
              <?php
                echo $this->Form->control('location');
                echo $this->Form->control('surgeon');
                echo $this->Form->control('name');
                echo $this->Form->control('address');
                echo $this->Form->control('city');
                echo $this->Form->control('state');
                echo $this->Form->control('zipcode');
                echo $this->Form->control('home_phone');
                echo $this->Form->control('work_phone');
                echo $this->Form->control('cell_phone');
                echo $this->Form->control('date_of_birth', ['empty' => true]);
                echo $this->Form->control('gender_id');
                echo $this->Form->control('marital_status_id');
                echo $this->Form->control('age');
                echo $this->Form->control('height');
                echo $this->Form->control('weight');
                echo $this->Form->control('bmi');
                echo $this->Form->control('neck');
                echo $this->Form->control('wrist');
                echo $this->Form->control('waist');
                echo $this->Form->control('hip');
                echo $this->Form->control('thigh');
                echo $this->Form->control('shirt_size');
                echo $this->Form->control('pants_size');
                echo $this->Form->control('user_id', ['options' => $users, 'empty' => true]);
              ?>
            </div>
            <!-- /.box-body -->

          <?php echo $this->Form->submit(__('Submit')); ?>

          <?php echo $this->Form->end(); ?>
        </div>
        <!-- /.box -->
      </div>
  </div>
  <!-- /.row -->
</section>
