<?php
use Cake\Core\Configure; 

// $this->layout = 'loginLayout';

?>

<div class="login-box">
  <div class="login-logo">
    <?php echo Configure::read('Theme.logo.large') ?>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"></p>

    
      <div class="box-body">
         Welcome and thank you for registering your email at DiabetesObesityClinic.com!<br><br>

        You can now fill up a questionnaire to let us know how can we help you, to do so, please click the following link:
        https://www.fashionoutfit.com/login
        <br><?= $value; ?><br><?= $value2; ?>
        Thanks,
        DiabetesObesityClinic.com
      </div>

    <!-- <a href="#">I forgot my password</a><br> -->
    <!-- <a href="register.html" class="text-center">Register a new membership</a> -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->