<section class="content-header">
  <h1>
    Info Medication
    <small><?php echo __('View'); ?></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<?php echo $this->Url->build(['action' => 'index']); ?>"><i class="fa fa-dashboard"></i> <?php echo __('Home'); ?></a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-info"></i>
          <h3 class="box-title"><?php echo __('Information'); ?></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt scope="row"><?= __('Name') ?></dt>
            <dd><?= h($infoMedication->name) ?></dd>
            <dt scope="row"><?= __('Dose') ?></dt>
            <dd><?= h($infoMedication->dose) ?></dd>
            <dt scope="row"><?= __('Often Taken') ?></dt>
            <dd><?= h($infoMedication->often_taken) ?></dd>
            <dt scope="row"><?= __('Id') ?></dt>
            <dd><?= $this->Number->format($infoMedication->id) ?></dd>
            <dt scope="row"><?= __('Patient Id') ?></dt>
            <dd><?= $this->Number->format($infoMedication->patient_id) ?></dd>
            <dt scope="row"><?= __('User Id') ?></dt>
            <dd><?= $this->Number->format($infoMedication->user_id) ?></dd>
            <dt scope="row"><?= __('Started Use') ?></dt>
            <dd><?= h($infoMedication->started_use) ?></dd>
            <dt scope="row"><?= __('Created') ?></dt>
            <dd><?= h($infoMedication->created) ?></dd>
            <dt scope="row"><?= __('Modified') ?></dt>
            <dd><?= h($infoMedication->modified) ?></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-text-width"></i>
          <h3 class="box-title"><?= __('Purpose') ?></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <?= $this->Text->autoParagraph($infoMedication->purpose); ?>
        </div>
      </div>
    </div>
  </div>
</section>
