<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Doctors

    <div class="pull-right"><?php echo $this->Html->link(__('New'), ['action' => 'add'], ['class'=>'btn btn-success btn-xs']) ?></div>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><?php echo __('List'); ?></h3>

          <div class="box-tools">
            <form action="<?php echo $this->Url->build(); ?>" method="POST">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="<?php echo __('Search'); ?>">

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                  <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                  <th scope="col"><?= $this->Paginator->sort('name') ?></th>
                  <th scope="col"><?= $this->Paginator->sort('telephone') ?></th>
                  <th scope="col"><?= $this->Paginator->sort('mobile_phone') ?></th>
                  <th scope="col"><?= $this->Paginator->sort('address') ?></th>
                  <th scope="col"><?= $this->Paginator->sort('email') ?></th>
                  <th scope="col"><?= $this->Paginator->sort('doctor_type_id') ?></th>
                  <!-- <th scope="col"><?= $this->Paginator->sort('user_id') ?></th> -->
                  <!-- <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                  <th scope="col"><?= $this->Paginator->sort('modified') ?></th> -->
                  <th scope="col" class="actions text-center"><?= __('Actions') ?></th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($doctors as $doctor): ?>
                <tr>
                  <td><?= $this->Number->format($doctor->id) ?></td>
                  <td><?= h($doctor->name) ?></td>
                  <td><?= h($doctor->telephone) ?></td>
                  <td><?= h($doctor->mobile_phone) ?></td>
                  <td><?= h($doctor->address) ?></td>
                  <td><?= h($doctor->email) ?></td>
                  <td><?= $doctor->has('doctor_type') ? $this->Html->link($doctor->doctor_type->name, ['controller' => 'DoctorTypes', 'action' => 'view', $doctor->doctor_type->id]) : '' ?></td>
                  <!-- <td><?= $doctor->has('user') ? $this->Html->link($doctor->user->name, ['controller' => 'Users', 'action' => 'view', $doctor->user->id]) : '' ?></td>
                  <td><?= h($doctor->created) ?></td>
                  <td><?= h($doctor->modified) ?></td> -->
                  <td class="actions text-right">
                      <?= $this->Html->link(__('View'), ['action' => 'view', $doctor->id], ['class'=>'btn btn-info btn-xs']) ?>
                      <?= $this->Html->link(__('Edit'), ['action' => 'edit', $doctor->id], ['class'=>'btn btn-warning btn-xs']) ?>
                      <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $doctor->id], ['confirm' => __('Are you sure you want to delete # {0}?', $doctor->id), 'class'=>'btn btn-danger btn-xs']) ?>
                  </td>
                </tr>
              <?php endforeach; ?>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>